html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  position: relative;
	padding-top: 70px;
	text-align: right;
}
footer {
  width: 100%;
  background: #333;
  min-height: 60px;
  color: #fff;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  min-height: 70px;
  background: #222;
  border-bottom: 2px solid #e5e607;
  color: #e5e607;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  .nav-link {
		color: #fff;
		background-size: 25px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
		padding-right: 38px;
		margin-left: 13px;
    &:hover {
      color: #e5e607;
    }
  }
  #home-nav {
    background-image: url(images/home.png);
    &:hover {
      background-image: url(images/homey.png);
    }
  }
  #contact-nav {
    background-image: url(images/contact.png);
    &:hover {
      background-image: url(images/contacty.png);
    }
  }
  #about-nav {
    background-image: url(images/about.png);
    &:hover {
      background-image: url(images/abouty.png);
    }
  }
}
#side-menu {
  position: fixed;
  right: 0;
  top: 130px;
  z-index: 999;
  transition: all 0.4s;
  ul {
    padding: 0;
    margin: 0;
    li {
      background: #ddd;
      border-radius: 100px 0 0 100px;
      padding: 5px 8px 5px 15px;
      margin-bottom: 7px;
      white-space: nowrap;
      display: block;
      position: relative;
      right: -40px;
      line-height: 30px;
      transition: all 0.4s;
      box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3), 0 0px 30px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease-out;
      cursor: pointer;
      img,
      span {
        display: inline-block;
      }
      img {
        float: left;
        margin-right: 10px;
        width: 30px;
        height: 30px;
      }
      &:hover {
        right: 0;
        background: #fff;
        border-right: none;
      }
    }
  }
}
#logo {
  direction: ltr;
  margin-left: 20px;
  color: #fff;
  line-height: 40px;
  padding: 0;
  height: 40px;
  position: relative;
  #logo-power {
    background: url(images/logo.png);
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: animateLogo, animateLogoShadow;
    animation-duration: 4.5s, 4.5s;
    animation-iteration-count: infinite;
    background-position-x: center;
    border-radius: 100px;
  }
}
.animate-image {
  position: absolute;
  opacity: 1;
  transform: scale(1);
  animation-name: animateImageSlider;
  animation-duration: 2s;
}
.animate-image-delay2 {
	animation-name: animateImageSliderdelay2;
  animation-duration: 3s;
}
.animate-image-delay3 {
	animation-name: animateImageSliderdelay3;
  animation-duration: 3.2s;
}
.animate-image-delay4 {
	animation-name: animateImageSliderdelay4;
  animation-duration: 4s;
}
.animate-image-delay5 {
	animation-name: animateImageSliderdelay5;
  animation-duration: 4.5s;
}
.animate-image-delay6 {
	animation-name: animateImageSliderdelay6;
  animation-duration: 5s;
}
.animate-image-delay7 {
	animation-name: animateImageSliderdelay7;
  animation-duration: 5.5s;
}

@keyframes animateImageSlider {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  40% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animateImageSliderdelay2 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  45% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animateImageSliderdelay3 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animateImageSliderdelay4 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  58% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animateImageSliderdelay5 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  65% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animateImageSliderdelay6 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  70% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animateImageSliderdelay7 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  75% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animateLogo {
  0% {
		transform: scale(1);
		background-image: url(images/logo.png);
  }
  20% {
		transform: scale(0.7);
		background-image: url(images/logo.png);
	}
	22% {
    background-image: url(images/logo1.png);		
	}
  30% {
    transform: scale(1);
    background-image: url(images/logo1.png);
  }
  55%,
  100% {
		transform: scale(1);
		background-image: url(images/logo.png);
  }
}
@keyframes animateLogoShadow {
  0%,
  20% {
    box-shadow: 0 3px 5px 5px #232322, 0 4px 0px 0px rgba(252, 254, 1, 1);
  }
  40% {
    box-shadow: 0 3px 15px 5px #232322, 0 4px 100px 0px #fcfe01;
  }
  60% {
    box-shadow: 0 3px 5px 12px #232322, 0 4px 200px 10px rgba(252, 254, 1, 0);
  }
}
