html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  position: relative;
  padding-top: 70px;
}
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  right: 0;
  left: 0;
  background: #333;
  min-height: 60px;
  color: #fff;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 70px;
  background: #222;
  border-bottom: 2px solid #ff9f00;
  color: #ff9f00;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  #logo {
    color: #fff;
  }
  .nav-link {
    color: #fff;
    &:hover {
      color: #ff9f00;
    }
    img {
      margin-left: 7px;
    }
  }
}
div#side-menu {
  position: fixed;
  right: 0;
  top: 80px;
  z-index: 999;
  transition: all 0.4s;
  ul {
    padding: 0;
    margin: 0;
    li {
      background: #eee;
      border-radius: 100px 0 0 100px;
      padding: 5px 8px 5px 15px;
      margin-bottom: 7px;
      white-space: nowrap;
      display: block;
      position: relative;
      right: -40px;
      line-height: 30px;
      transition: all 0.4s;
      box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3), 0 0px 30px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      img,
      span {
        display: inline-block;
      }
      img {
        float: left;
        margin-right: 10px;
        width: 30px;
        height: 30px;
      }
      &:hover {
        right: 0;
        background: #ff9f00;
        /* color: #fff; */
        border: 2px solid #ffe06b;
        border-right: none;
      }
    }
  }
}
#logo {
  direction: ltr;
  margin-left: 20px;
  img {
    margin-right: 11px;
  }
}
.animate-image {
    position: absolute;
    opacity: 1;
	transform: scale(1);
	animation-name: animateImage;
    animation-duration: 2s;
}
@keyframes animateImage {
	0% { opacity: 0; transform: scale(0.5) }
	40% { opacity: 0; transform: scale(0.5) }
	100% { opacity: 1; transform: scale(1) }
}